*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    border: 2px solid red;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

header {

    border: 2px solid blue;
    width: 290px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.Usuário1, .Usuário1 {
    
    width: 240px;
    height: 50px;
    border: 2px solid green;
    margin-bottom: 10px;
}

.Entrar1{
    width: 200px;
    height: 40px;
    border: 2px solid green;
    margin-bottom: 20px;
}


h1{
    margin: center ;
    text-align: center;
}
